<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>557355299582-c68jufi59rfnvc3qkflkf1hnsdrrg36t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.557355299582-c68jufi59rfnvc3qkflkf1hnsdrrg36t</string>
	<key>API_KEY</key>
	<string>AIzaSyAzD9rKfPCW99FENgJlOAb82v9kfrYJWYg</string>
	<key>GCM_SENDER_ID</key>
	<string>557355299582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.intershalaAssignment</string>
	<key>PROJECT_ID</key>
	<string>intershala-assignment1</string>
	<key>STORAGE_BUCKET</key>
	<string>intershala-assignment1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557355299582:ios:24ec4472f24f33d6faabaf</string>
</dict>
</plist>